#!/bin/bash
rsync -L --no-perms --no-owner --no-group -a /opt/calvinball-website/images -e "ssh -p CUSTOM_PORT"  yattoz@backup_server_address:/volume1/calvinballconsortium/
rsync -L --no-perms --no-owner --no-group -a /opt/calvinball-website/audio -e "ssh -p CUSTOM_PORT"  yattoz@backup_server_address:/volume1/calvinballconsortium/
rsync -L --no-perms --no-owner --no-group -a /opt/calvinball-website/resources -e "ssh -p CUSTOM_PORT"  yattoz@backup_server_address:/volume1/calvinballconsortium/
rsync -L --no-perms --no-owner --no-group -a /opt/calvinball-website/docs -e "ssh -p CUSTOM_PORT"  yattoz@backup_server_address:/volume1/calvinballconsortium/
