
<thead>
    <tr>
    <th style="text-align:center"><a href="https://mastodon.social/@Gouximan" style=""><img src="https://www.calvinballconsortium.fr/resources/ludographie/img/new/logo_mastodon.png" alt="Mastodon"></a></th>
    <!-- <th style="text-align:center"><a href="https://twitter.com/Gouximan" style=""><img src="https://www.calvinballconsortium.fr/resources/ludographie/img/new/logo_twitter.png" alt="Twitter"></a></th> -->
    <th style="text-align:center"><a href="https://www.twitch.tv/mathieugoux" style=""><img src="https://www.calvinballconsortium.fr/resources/ludographie/img/logo_twitch.png" alt="Twitch"></a></th>
    <th style="text-align:center"><a href="https://www.youtube.com/user/MattTheFatalifieur/videos" style=""><img src="https://www.calvinballconsortium.fr/resources/ludographie/img/logo_youtube.png" alt="Youtube"></a></th>
    <th style="text-align:center"><a href="https://www.patreon.com/calvinball" style=""><img src="https://www.calvinballconsortium.fr/resources/ludographie/img/new/logo_patreon.png" alt="Tipee"></a></th>
    <th style="text-align:center"><a href="https://discord.com/invite/4RnA9v7" style=""><img src="https://www.calvinballconsortium.fr/resources/ludographie/img/new/logo_discord.png" alt="Discord"></a></th>
    </tr>
</thead>
    
