

html {
  background: var(--white-background);
  color: var(--black-text);
}

  html h1,
  html h2,
  html h3,
  html h4,
  html h5,
  html p,
  html label,
  html span,
  html td {
    color: var(--black-text);
  }
  
html.dark-mode {
    background: var(--black-background);
  }
  
  html.dark-mode h1,
  html.dark-mode h2,
  html.dark-mode h3,
  html.dark-mode h4,
  html.dark-mode h5,
  html.dark-mode p,
  html.dark-mode label,
  html.dark-mode span,
  html.dark-mode td {
    color: var(--white-text);
  }
  
  html.dark-mode {
    color: var(--white-text);
  }
  
  html .background-on,
  html .background-on tr
  {
      background-color: var(--active-white);
  }

  html.dark-mode .background-on,
  html.dark-mode .background-on tr
  {
      background-color: var(--active-black);
  }

.border {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  padding: 0.4em;
  margin-bottom: 2em;
}



html.dark-mode .page-button {
  font-size: large;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0.2em;
  margin: 0.2em;
  padding: 0.4em;
  background: var(--active-black);
  cursor: pointer;
}
