@media (min-width: 768px) {  /* bigger than or equal to tablet */
    .box {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media (min-width: 992px) {  /* bigger than or equal to tablet */
    .box {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

}

@media (max-width: 768px) {  /* smaller than tablet */
    .box {
        display: grid;
        grid-gap: 0.8em;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 576px) {  /* smaller than smartphone */
    .box {
        display: grid;
        grid-gap: 0.6em;
        grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    }
}