


    @media (min-width: 768px) {  /* bigger than or equal to tablet */
        .box {
            display: grid;
            grid-gap: 0.8em;
            grid-template-columns: repeat(auto-fill, minmax(8em,1fr)); /* 120px */
        }

    }

    @media (max-width: 768px) {  /* smaller than tablet */
        .box {
            display: grid;
            grid-gap: 0.6em;
            grid-template-columns: repeat(auto-fill, minmax(7em,1fr)); /* 120px */
        }
    }

    @media (max-width: 576px) {  /* smaller than smartphone */
        .box {
            display: grid;
            grid-gap: 0.6em;
            grid-template-columns: repeat(auto-fill, minmax(6em,1fr)); /* 120px */
        }

    }

    .people {
        text-align: center;
    }

    .inner {
        width: 110%;
    }

    .inner .profile-picture {
        max-height: 100px;
    }

    .inner .profile-picture {
        margin-top: 15px; // this allows the overflow to stay visible on top.
    }

    .no_result{
        font-size: large
    }
