
body.yuu-theme-dark .extendview {
    color: #f1f1f1;
}

.mycard .card-inside img{
    object-fit: cover;
    height: 100%;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mycard {
    display: grid;
    grid-gap: 0em;
    grid-template-rows: auto 1fr;
    width: auto;
    height: 100%;
    position: relative;
}
