
fieldset .form-field {
    margin-top: 1em;
    margin-bottom: 1em;
}

fieldset .splitview {
    display: flex;
    gap: 2em;
    margin-bottom: 1em;
}

.vertical-grid {
    display: grid;
    grid-template-rows: 1.6em 1fr;
    gap: 0.4em;
    width: 100%;
}

#participants_list {
    min-height: 7em;
}

#description {
    resize: vertical;
}

#markdown-preview {
    border: grey 1px solid;
    border-radius: 2px;
    height: 100%;
    overflow-wrap: anywhere;
    min-height: 10em;
}

#alerts span {
    color: red;
    font-weight: bolder;
}

#alerts span {
    color: red;
    font-weight: bolder;
}

#warning-datetime {
    color: darkorange;
    font-weight: bolder;
}

#valid span {
    color: green;
    font-weight: bolder;
}

fieldset textarea {
    width: 100%;
    height: 100%;
}

fieldset button {
    border-radius: 4px;
    padding: 0.4em;
}

#generated-markdown {
    
    overflow-wrap: anywhere;
    font-family: monospace;
    width: 100%;
    
 }
