{{ define "main" }}

<h4 class="date">
    {{ with .Date }}
    {{ partial "functions/localized_date" (dict "date" . "format" site.Params.formats.date.long) }}
    {{ end }}
</h4>

<h2> {{ .Title }} 
</h2>
{{ with .Parent.Params.mastodon }}
{{ $masto_server := replaceRE "^@.*@" "" . }}
{{ $masto_user := replaceRE "(^@.*)(@.*)" "$1" . }}
{{ $masto_url := printf "https://%s/%s" $masto_server $masto_user}}
<div style="display: none">
<a rel="me" href="{{ $masto_url }}"></a>
</div>
{{ end }}
{{ $podlove_param := dict "context" . "size" "xl" }}
{{ partial "podlove_player" $podlove_param }}
<div class="button-box">
<a class="btn btn-download" href="{{ if .Parent.Params.is_podtrac }}https://dts.podtrac.com/redirect.mp3/{{ replace (replace .Site.BaseURL "dev" "www") "https://" "" }}{{ .Params.episode_mp3 }} {{ else }} {{ .Params.episode_mp3 }}{{ end }}">Télécharger l'épisode</a>
</div>
<div class="episode-content">
    {{ .Content }}
</div>

{{ $podlove_player_js := resources.Get "js/podlove-style.js" }}
<script type="module" src="{{ $podlove_player_js.Permalink }}"></script>

{{ $podlove_player_js := resources.Get "js/podlove-player.js" }}
<script type="module" src="{{ $podlove_player_js.Permalink }}"></script>

{{ end }}
