{{ define "main" }}

{{ $style := resources.Get "scss/people.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ $style := resources.Get "scss/sns.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<div class="people">
    <img class="profile-picture" src="{{ .Params.image }}">
    <h1>
      {{ .Params.name }}
    </h1>

        {{ partial "sns" . }}
        {{ .Params.description }}
    </div>
    <div>
    <h4>Emissions</h4>
    <div class="emissions">
        {{ range .Params.podcasts}}
            <a href="/podcasts/{{ . }}">
            <img src="/podcast_covers/{{ . }}.jpg">
            {{ . }}
        </a>
        {{end}}
    </div>
    </div>
  </div>

{{end}}