{{ define "main" }}

{{ $people_list := resources.Get "scss/people_list.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $people_list.Permalink }}">

<h1>{{ .Title }}</h1>

<img src="{{ .Params.image }}">
<p>
    {{.Params.description}}
</p>

<div>
    <div class="box" tabindex="0">
        <!-- Layout items -->

        {{ range .Pages.ByTitle }}
        <div
        class="people">
        <a href="{{ .Permalink }}">
            <img class="people-image" src="{{ .Params.image }}">
            <h6>{{ .Params.name }}</h6>
        </a>
        </div>
        {{ end }}
    </div>
</div>

{{end}}