{{ define "main" }}

{{ $style := resources.Get "scss/people.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ $style := resources.Get "scss/podcast_cover.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">


{{ $style := resources.Get "scss/podcast_entry.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<div class="people">
    <img class="profile-picture" src="{{ .Params.image }}">
    <h1>
        {{ .Params.name }}
    </h1>

    {{ partial "sns" . }}
    {{ .Params.description }}
</div>
<div>
    <h2>Emissions</h2>
    <div class="podcast-entry-list">
        {{ $people_podcasts := .Params.podcasts }}
        {{ $podcast_pages := where .Site.Pages "Params.layout" "podcast-page" }}
        {{ $related_podcast_pages := where $podcast_pages "Params.key" "in" $people_podcasts }}



        {{ if eq .Site.BuildDrafts true}}
        {{ range $related_podcast_pages.ByTitle }}
        {{ partial "podcast_entry.html" . }}
        {{ end }}  
        {{ else }}
        {{ range where $related_podcast_pages.ByTitle "Draft" false}}
        {{ partial "podcast_entry.html" . }}
        {{ end }}
        {{ end }}
    </div>
</div>

{{end}}
