{{ define "main" }}

{{ $style := resources.Get "scss/episode_unit.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ $style := resources.Get "scss/podcast_cover.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<h1>{{ .Title }}</h1>
<div class="podcast-head-split">
  <div>
    <p>
        {{.Params.description}}
    </p>
    <p>S'abonner : </p>
    {{ partial "subscribe_buttons" . }}
    <p>Sur les réseaux sociaux : </p>
    {{ partial "sns" . }}
</div>
<img src="{{ .Params.image }}">
</div>

<h4 style="margin-bottom: 1em;">{{ len .Pages }} épisodes</h4>

<select id="order-select" aria-label="Tri des épisodes">
  <option value="new_first">Plus récent d'abord</option>
  <option value="old_first">Plus ancien d'abord</option>
</select>

<div id="episode-box" class="episodes-box" tabindex="0">
  {{ range .Pages.ByDate.Reverse }}
    {{ partial "episode_unit" . }}
  {{ end }}
</div>

{{ $episode_list_sort_js := resources.Get "js/episode-list-sort.js" }}
<script type="module" src="{{ $episode_list_sort_js.Permalink }}"></script>

{{ end }}