{{ define "main" }}

{{ $style := resources.Get "scss/episode_unit.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ $style := resources.Get "scss/podcast_cover.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<h1>{{ .Title }}</h1>

<img src="{{ .Params.image }}">
<p>
    {{.Params.description}}
</p>

<p>Sur les réseaux sociaux : </p>
{{ partial "sns" . }}
<h4 style="margin-bottom: 1em;">{{ len .Pages }} épisodes</h4>
<div class="episodes-box" tabindex="0">
  {{ range .Pages.ByDate }}
    {{ partial "episode_unit" . }}
  {{ end }}
</div>


{{ end }}