{{ define "main" }}

{{ $style := resources.Get "scss/episode_unit.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ $style := resources.Get "scss/podcast_cover.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<h1>{{ .Title }}</h1>
{{ $people_link_length := len .Params.people_link }}
De : {{ range $index, $element := .Params.people_link }}
{{ if isset $element "key" }}
  <a href=" /people/{{ $element.key }}/ ">{{ $element.name }}</a>{{ if ne (add $index 1) $people_link_length  }},{{end}}
{{ else }}
{{ $element.name }}{{ if ne (add $index 1) $people_link_length  }},{{end}}
{{ end }}
{{ end }}
<div class="podcast-head-split">
  <div>
    <p>
        {{.Params.description | safeHTML }}
    </p>
    <p>S'abonner : </p>
    {{ partial "subscribe_buttons" . }}
    {{ if or .Params.facebook .Params.twitter .Params.instagram }}
      <p>Sur les réseaux sociaux : </p>
    {{ end }}
    {{ partial "sns" . }}
</div>
<img src="{{ .Params.image }}">
</div>
<div>
{{ .Content | markdownify }}
</div>
<h4 style="margin-bottom: 1em;">{{ len .Pages }} épisodes</h4>

<select class="background-on" id="order-select" aria-label="Tri des épisodes">
  <option value="new_first">Plus récent d'abord</option>
  <option value="old_first">Plus ancien d'abord</option>
</select>

<div id="episode-box" class="episodes-box" tabindex="0">
{{ if eq .Site.BuildDrafts true}}
  {{ range where .Pages.ByDate.Reverse "Params.guid" "!=" nil }}
    {{ partial "episode_unit" . }}
  {{ end }}
{{ else }}
  {{ range where (where .Pages.ByDate.Reverse "Draft" false) "Params.guid" "!=" nil }}
    {{ partial "episode_unit" . }}
  {{ end }}
{{ end }}
</div>

{{ $episode_list_sort_js := resources.Get "js/episode-list-sort.js" }}
<script type="module" src="{{ $episode_list_sort_js.Permalink }}"></script>

{{ end }}
