


<a href="{{ .Permalink }} " class="episode inner" data-index="{{ .Date }}">
    <div class="episode-mycard" >
        <div class="card-inside">
            <img class="episode-cover" 
                loading="lazy"
                data-loaded="true"
                data-src="{{ .Params.image }}" 
                src="{{ .Params.image }}" 
                alt="{{ .Params.image }}"/>
        </div>

        <div class="episode-unit-extendview">
            <div style="width: 100%">
                <div class="date"> 
                    {{ partial "functions/localized_date" (dict "date" .Date "format" site.Params.formats.date.long) }}

                </div>
                <p>{{ .Params.title }}</p>
            </div>
        </div>
    
    </div>
</a>
