{{ if ne .Site.Params.hideFooter true }}
<footer id="footer" class="mt-auto text-center text-muted">
  <div class="container">
    {{ .Site.Params.footerText | markdownify }}
    <span class="footer-item">
        Association Nittadodo
    </span>
    <span class="footer-item">
       <a href="/legal/">Mentions légales</a>
    </span>
    <span class="footer-item">
        <a href="/guideline/">
            Charte d'utilisation du Discord
        </a>
    </span>
    <span class="footer-item">
        <a href="/cookies/">
            Où est la bannière de cookies ?
        </a>
    </span>
  </div>
</footer>
{{ end }}
