{{ define "main" }}

<header class="hero">
    <img src="/consortium.jpg">
    <h1 class="main-title">{{ $.Page.Title }}</h1>

{{ with .Params.tagline }}
  <p class="description">{{ . | markdownify }}</p>
{{ end }}
<p class="action-button-wrapper">
  <a href="/podcasts/" class="action-button">
    Découvrir nos émissions →
  </a>
</p>

</header>


<div class="box" tabindex="0">
{{ range (where .Site.Pages.ByTitle "Layout" "podcast-page") }}
      {{ partial "podcast-cover.html" (dict "context" . "is_showing_titles" false) }}
{{ end }}   
</div>

{{ .Content }}

{{ $style := resources.Get "scss/fixed-columns-items.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ $style := resources.Get "scss/podcast-cover.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ end }}
