{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center">
  <h1>{{ $.Page.Title }}</h1>
    <img src="/consortium.jpg">
{{ with .Params.homeText }}
  <p class="font-125">{{ .Site.Params.homeText | markdownify }}</p>
{{ end }}
</div>

<div class="box" tabindex="0">
{{ range (where .Site.Pages.ByTitle "Layout" "podcast-page") }}
      {{ partial "podcast-cover.html" (dict "context" . "is_showing_titles" false) }}
{{ end }}   
</div>

{{ .Content }}

{{ $style := resources.Get "scss/fixed-columns-items.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ $style := resources.Get "scss/podcast-cover.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ end }}
