[Unit]
Description=daemon starter for calvinball-website regeneration

[Service]
Type=simple
User=developer
Group=developer
WorkingDirectory=/opt/calvinball-website/
ExecStart=bundle exec ruby /opt/calvinball-website/scripts/dbus_watcher.rb
Restart=always
EnvironmentFile=/opt/calvinball-website/scripts/env


[Install]
WantedBy=multi-user.target
