

module SheetsToken
    API_KEY = "" #your google cloud console API key
    SPREADSHEET_ID = "" #your google sheet ID
end

module XmppCredentials
    SRC = "" #your XMPP sender account
    DEST = "" #your XMPP destination account
    PASSWORD = "" #your password for your sender account
end
