

module SheetsToken
    API_KEY = "{{ credentials_google_sheets_api_key }}" #your google cloud console API key
    SPREADSHEET_ID = "{{ credentials_google_sheets_id }}" #your google sheet ID
end

module XmppCredentials
    SRC = "{{ credentials_xmpp_src }}" #your XMPP sender account
    DEST = "{{ credentials_xmpp_dest }}" #your XMPP destination account
    PASSWORD = "{{ credentials_xmpp_password }}" #your password for your sender account
end
